body {
    padding: 2%;
    background-color: rgb(55, 184, 184);
}

h1 {
    padding: 15px;
    max-width: 60%;
    text-align: center;
    margin: auto;
    color: floralwhite;
    text-shadow: 3px 3px 4px black;
}

.card {
    display: inline-block;
    max-height: 600px;
    max-width: 250px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    /* shadow: darkslategray 5px; */
}

.card:hover{
    box-shadow: 3px 3px 10px rgb(193, 214, 72);
}


.compactSound__artwork sc-media-left {
    visibility: hidden;
}